<section>
    <div class="row">
        <h2 class="py-2"> 1 way Data Binding</h2>
        <div class="col-md-4">
            
            <div class="card">
                <div class="card-header fs-4 text-center">
                    Data Binding (Ineterpotion)
                </div>
                <div class="card-body">
                    <h1>{{title}}</h1>
                </div>
            </div>

        </div>
        <div class="col-md-4">
           

            <div class="card">
                <div class="card-header fs-4 text-center">
                    Proparty Binding
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-4">
         

            <div class="card">
                <div class="card-header fs-4 text-center">
                    Event Binding
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row py-5">
        <h2 class="py-2">2 way Data Binding</h2>
        <div class="col-md-12">

        </div>

    </div>

</section>